@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .h-screen {
    height: 100svh;
  } */
  .h-120 {
    height: 120svh;
    height: 120vh;
  }
  .h-almost-screen {
    height: 90vh;
  }
  .padding-vh-mobile {
    padding-top: 25vh;
    padding-bottom: 20vh;
  }
  .widthoverlay {
    width: 450px;
  }
  .customOutline {
    width: 102% !important;
    transform: translateX(2%);
  }
}
@font-face {
  font-family: "futura";
  src: local("futura"),
    url("../public/font/futura/TheFuture-Light.otf") format("opentype");

  font-weight: 300;
}
@font-face {
  font-family: "futura";
  src: local("futura"),
    url("../public/font/futura/TheFuture-Regular.otf") format("opentype");

  font-weight: 400;
}
@font-face {
  font-family: "futura";
  src: local("futura"),
    url("../public/font/futura/TheFuture-Medium.otf") format("opentype");

  font-weight: 500;
}
@font-face {
  font-family: "ESFace";
  src: local("esface"),
    url("../public/font/es-face/ESFace-Thin.otf") format("opentype");
  font-weight: 100;
}
@font-face {
  font-family: "ESFace";
  src: local("esface"),
    url("../public/font/es-face/ESFace-ExtraLight.otf") format("opentype");
  font-weight: 200;
}
.ESFace {
  font-family: "ESFace";
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.72) -60%,
    rgba(0, 0, 0, 0) 95.67%
  );
}
a,
p {
  font-family: "futura";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "ESFace";
}
.progress-bar {
  background: rgba(252, 251, 248, 0.3);
  height: 2px;
}
.transitionVideoInstrumentText {
  transition: all 0.6s;
}
.progress {
  background: #fcfbf8;
  height: 2px;
}
.videoHero {
  transition: opacity 0.5s;
}

.edition {
  background: linear-gradient(180deg, #000000 0%, #1a1a19 100%);
}

.backgroundLine::before,
.backgroundLine::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(#32312f 1px, transparent 1px);
  background-size: 100% 35px;
  z-index: 0;
}
.backgroundLine div {
  z-index: 2;
}
.backgroundLine::after {
  top: 46px;
  height: 100%;
}

.instrument1 {
  top: -23px;
}
.instrument2 {
  top: 15px;
}
.instrument3 {
  top: -5px;
}

.heightCustom {
  height: 200%;
  max-width: 200%;
}
.width-auto {
  width: auto !important;
}
.keen-slider__slide.active {
  opacity: 1;
}
.slider {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
  scrollbar-width: none;
  overflow-y: hidden;
}
.slider::-webkit-scrollbar {
  display: none;
}

.slider__container {
  /* background-color: #ecf0f1; */
  min-width: 80vw;
}

.radius {
  border-radius: 4%;
  aspect-ratio: 1.26;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1a19;
  z-index: -10;
  height: 100vh;
  width: 100vw;
}
.techniques {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.thumbnail.nuances {
  display: none !important;
}

.max-width-desktop {
  max-width: 1000px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.scaled {
  transform: scale(1.15);
  transition: 0.6s ease transform;
}
.unscaled {
  transform: scale(1);
  transition: 0.6s ease transform 0.65s, 0.6s ease opacity;

}
.removeOpacity {
  transition: opacity 0.6s ease 0.7s, z-index 0.1s ease 1.3s;
  opacity: 0;
  z-index: -1 !important;
}
.enter-downAnim {
  animation: fadeInDown 0.6s ease forwards;
}
.enter-downAnimDelay {
  animation: fadeInDown 0.6s ease 0.65s forwards;
}
.enter-upAnim {
  animation: fadeInUp 0.6s ease forwards;
}
.fade-out-up {
  animation: fadeOutUp 0.6s ease forwards;
}
.fade-out-down {
  animation: fadeOutDown 0.6s ease forwards;
}

/* AOS */

[data-aos="fade-in-right"] {
  transform: translateX(50px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0px);
    opacity: 1;
  }
}
[data-aos="fade-in-up"] {
  transform: translateY(50px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0px);
    opacity: 1;
  }
}

body[data-aos-easing="new-easing"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing"] {
  transition-timing-function: cubic-bezier(0.41, 0.75, 0.07, 0.97);
}

.language-overlay {
  background: rgba(50, 49, 47, 0.5);

  backdrop-filter: blur(16px);
  padding: 42px 9px 6px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  top: -1.2rem;
  right: -0.5rem;
}
.language-overlay {
  background: rgba(50, 49, 47, 0.5);

  backdrop-filter: blur(16px);
  padding: 42px 9px 6px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  top: -1.2rem;
  right: -0.5rem;
}
.icon-langue.overlay{
  top: 3.9rem;
}
.icon-langue.overlay .language-overlay {
  padding: 42px 19px 6px 24px;
}

.language-overlay p {
  font-size: 10px;
line-height: 90%;
/* identical to box height, or 9px */
font-weight: 400px;
padding-bottom: 1.2rem;
letter-spacing: 0.05em;
text-transform: uppercase;
cursor: pointer;
/* BC/Soft Greys/Light3 */

color: #FCFBF8;
}

@media (min-width: 768px) {
  .backgroundLine::before,
  .backgroundLine::after {
    content: "";
    width: 100%;
    height: 110%;
    position: absolute;
    top: 95px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(#32312f 1px, transparent 1px);
    background-size: 100% 74px;
    z-index: 0;
  }
  .backgroundLine div {
    z-index: 2;
  }

  .backgroundLine::before {
    top: 60px;
  }
  .instrument1 {
    top: -120px;
  }
  .instrument2 {
    top: 31px;
    right: 7.5vw;
  }
  .instrument3 {
    top: 103px;
    right: -7.5vw;
  }
  .radiusDesktop {
    border-radius: 1.5%;
  }

  .thumbnail.nuances {
    display: flex !important;
    position: absolute !important;
    /* overflow: visible !important; */
  }
  .slider__container {
    /* background-color: #ecf0f1; */
    min-width: 50%;
  }

  .radius {
    border-radius: 1.5%;
    aspect-ratio: 1.26;
  }
}
